.hide {
    visibility: hidden;
}

.green {
    background-color: green;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(214, 151, 151);
    text-align: center;
}

.question-and-answer-container {
    width: 100%;
}

#button {
    background-color: white;
    font-size: xx-large;
}